* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  background-color: #f9fafb;
  color: #111827;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  /* Background color*/
  --bg-primary-color: #1e1d1d;
 
   
  /* button */
  --bg-button-color :#35353512;
  --bg-delete-color : rgb(168, 60, 60);
  /* text color*/
  --text-primary-color: hsl(210, 100%, 99%);

  /* font family*/
  --font-family: "Consolas", "Courier New", monospace;

  /* spacing var*/
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;
  --space-4xl: 55px;

  /* border color */
  --border-primary-color: #383838;

  /* border reduis */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
  --border-radius-3xl: 28px;
}


main {
    width: 100%;
    height: 100%;
    color: var(--text-primary-color);
    background-color: var(--bg-primary-color);

}

main .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-xl) var(--space-3xl);
}

main .nav .left >h2{
    font-weight: 500;
    
}
main .nav .right>button {
    padding: var(--space-md) var(--space-md);
    font-size: 20px;
    border-radius: var(--border-radius-sm);
    background-color: var(--border-primary-color);
    color: var(--text-primary-color);
    border: none;
}